MONGO_INITDB_DATABASE=mydb
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword 

ASPNETCORE_ENVIRONMENT=Development
# ASPNETCORE_ENVIRONMENT=Staging
# ASPNETCORE_ENVIRONMENT=Production

